<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Group Questions</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<%# @group_questions.each do |group_question| %>

<!--      <tr>-->
<!--        <td><%#= group_question.name %></td>-->
<!--        <td><%#= group_question.description %></td>-->
<!--        <td><%#= group_question.content %></td>-->
<!--        <td><%#= group_question.guide %></td>-->
<!--        <td><%#= group_question.transcript %></td>-->
<!--        <td><%#= link_to 'Show', group_question %></td>-->
<!--        <td><%#= link_to 'Edit', edit_admin_group_question_path(group_question) %></td>-->
<!--        <td><%#= link_to 'Destroy', group_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->
<div class="card">
  <h4 class="card-header">
    Danh sách các nhóm câu hỏi:
  </h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Content</th>
        <th>Guide</th>
        <th>Transcript</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @group_questions.each do |group_question| %>
        <tr>
          <td><%= link_to group_question.id, group_question_path(group_question) %></td>
          <td><%= link_to group_question.name, group_question_path(group_question) %></td>
          <td><%= group_question.description %></td>
          <td><%= group_question.content %></td>
          <td><%= group_question.guide %></td>
          <td><%= group_question.transcript %></td>
          <td><%= link_to 'Edit', edit_group_question_path(group_question) %></td>
          <td><%= link_to 'Destroy', group_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Group Question', new_group_question_path %>
  </div>
</div>
