<%= form_with(model: test) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this Test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">

      <div class="row form-group">
        <%= form.label :name, class: "col-sm-2 col-form-label input-label" %>
        <div class="col-sm-10">
          <%= form.text_field :name, class: "form-control", placeholder: "Please input name", required: true %>
        </div>
      </div>

      <div class="row form-group">
        <%= form.label :Description, class: "col-sm-2 col-form-label input-label" %>
        <div class="col-sm-10">
          <%= form.rich_text_area :description, class: "", placeholder: "Please input description", required: true %>
        </div>
      </div>

      <div class="row form-group">
        <%= form.label :Duration, class: "col-sm-2 col-form-label input-label" %>
        <div class="col-sm-10">
          <%= form.number_field :duration, class: "form-control", placeholder: "Please input duration", required: true %>
        </div>
      </div>

      <div class="row form-group">
        <%= form.label "Attempt times", class: "col-sm-2 col-form-label input-label" %>
        <div class="col-sm-10">
          <%= form.number_field :attempt_times, class: "form-control", placeholder: "Please input Attempt times", required: true %>
        </div>
      </div>

      <div class="row form-group">
        <%= form.label "Open time", class: "col-sm-2 col-form-label input-label" %>
        <div class="col-sm-10">
          <%= form.datetime_local_field :open_time, class: "form-control" %>
        </div>
      </div>

      <div class="row form-group">
        <%= form.label "Close time", class: "col-sm-2 col-form-label input-label" %>
        <div class="col-sm-10">
          <%= form.datetime_local_field :close_time, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <%= form.label "Release time", class: "col-sm-2 col-form-label input-label" %>
        <div class="col-sm-10">
          <%= form.datetime_local_field :release_time, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label "Danh mục", class: 'col-sm-2 col-form-label input-label' %>
        <div class="col-lg-10">
          <%= form.select :category_ids, options_for_select(Category.all.collect{|category| [category.name, category.id]}, @test.categories.present? ? @test.categories.collect(&:id) : ""), {include_blank: "-- Vui lòng chọn danh mục --"}, {class: "form-control select2", :multiple => true} %>
        </div>
      </div>


      <div class="d-flex justify-content-end">
        <%= form.submit "Save changes", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

