<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Trang chủ", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= "Quản lý Bài thi" %></li>
  </ol>
</nav>
<div class="card">
  <h4 class="card-header">
    Danh sách các bài thi:
  </h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Difficulty</th>
        <th>Duration</th>
        <th>Attempt times</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @tests.each do |test| %>
        <tr>
          <td><%= link_to test.id, test_path(test) %></td>
          <td><%= link_to test.name, test_path(test) %></td>
          <td><%= test.difficulty %></td>
          <td><%= test.duration %></td>
          <td><%= test.attempt_times %></td>
          <td><%= link_to 'Edit', edit_test_path(test) %></td>
          <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Test', new_test_path %>
    <%#= link_to  new_test_path, class: "btn btn-success" %>

  </div>
</div>