<nav aria-label="breadcrumb" class="mt-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Trang chủ", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Quản lý Bài thi", tests_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @test.name %></li>
  </ol>
</nav>
<div class="card mt-3">
  <div class="card-header">
    <span class="font-weight-bold" style="color: green"><%= @test.name %></span>


  </div>

  <% @test.group_questions.each do |group_question| %>
    <div class="card m-2 p-2">
      <table>
        <td>
        <td> <p></p><%= link_to group_question.name, group_question_path(group_question) %></p></td>
<!--          <td class="font-weight-bold"><%#= group_question.name if group_question.present? %></td>-->
          <td style="width: 250px">
            <small>
              <%#= link_to "Thêm câu hỏi",  new_question_path(group_question_id: group_question.id) %>
              <%= link_to "Sửa", edit_group_question_path(group_question), class: "btn btn-info float-right ml-2" %>
              <%= link_to "Xóa",  group_question_path(group_question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger float-right ml-2" %>
            </small>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
  <%#= link_to fa_icon("plus", text: "New group question"), new_admin_group_question_path(test_part_id: test_part.id), class: "mt-6" %>
  <br>
  <div>
    <%= link_to "Thêm phần thi",  new_group_question_path(test_id: @test.id), class: "btn btn-success" %>
  </div>

</div>